.btn {
  width: 268px;
  height: 56px;
  border: 1.5px solid var(--font-color);
  box-sizing: border-box;
  border-radius: 60px;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.4px;
  color: var(--font-color);
  background: none;
  transition: 0.5s all;
  cursor: pointer;
  &_number {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
  }
  &:hover {
    color: var(--main-color);
    background: #ffffff;
  }
  &:active {
    color: var(--main-color);
    border: 1.5px solid var(--second-color);
    background: var(--second-color);
  }
  &_number {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    border-radius: 56px;
  }
  &_setting {
    width: 156px;
    height: 56px;
  }
  &_pink {
    background: var(--second-color);
    border: 1.5px solid var(--second-color);
    &:active {
      background: none;
      color: var(--font-color);
    }
  }
  &_158px {
    width: 158px;
    font-size: 16px;
    line-height: 18px;
  }
  &_150px {
    width: 150px;
    font-size: 16px;
    line-height: 18px;
    color: var(--main-color);
    border: 1.5px solid var(--main-color);
    &:hover {
      background: rgba(1, 1, 1, 0.2);
      border: 1.5px solid rgba(1, 1, 1, 0.2);
    }
    &:active {
      color: var(--main-color);
      border: 1.5px solid var(--second-color);
      background: var(--second-color);
    }
  }
}
