@media (min-width: 768px) {
  .btn {
    &_setting {
      width: 293px;
      height: 56px;
    }
  }
}
@media (min-width: 1024px) {
  .btn {
    &_150px {
      width: 210px;
      height: 62px;
      font-weight: 500;
      font-size: 22px;
      line-height: 22px;
    }
  }
}
